In [34]:
import pandas as pd
from path import Path

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

file_path = Path("Airlines.csv")
airlines_df = pd.read_csv(file_path)
airlines_df.head()

   id Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
0   1      CO     269         SFO       IAH          3    15     205      1
1   2      US    1558         PHX       CLT          3    15     222      1
2   3      AA    2400         LAX       DFW          3    20     165      1
3   4      AA    2466         SFO       DFW          3    20     195      1
4   5      AS     108         ANC       SEA          3    30     202      0

In [84]:
airlines_df.Airline.unique()

array(['CO', 'US', 'AA', 'AS', 'DL', 'B6', 'HA', 'OO', '9E', 'OH', 'EV',
       'XE', 'YV', 'UA', 'MQ', 'FL', 'F9', 'WN'], dtype=object)

In [85]:
airlines_df.Airline.value_counts()

WN    94097
DL    60940
OO    50254
AA    45656
MQ    36605
US    34500
XE    31126
EV    27983
UA    27619
CO    21118
FL    20827
9E    20686
B6    18112
YV    13725
OH    12630
AS    11471
F9     6456
HA     5578
Name: Airline, dtype: int64

In [88]:
#airlines_binary_encoded = pd.get_dummies(airlines_df, columns=["Airline"])
#airlines_binary_encoded.head()

In [89]:
airlines_df['Delay'].value_counts(normalize=True)

0    0.554558
1    0.445442
Name: Delay, dtype: float64

In [90]:
# Putting feature variable to X
x = airlines_df.drop(columns =['id','Delay'],axis=1)

# Putting target variable to y and drop id column
y = airlines_df['Delay']
X = pd.get_dummies(x, drop_first = True) 
X

,Flight,DayOfWeek,Time,Length,Airline_AA,Airline_AS,Airline_B6,Airline_CO,Airline_DL,Airline_EV,...,AirportTo_TXK,AirportTo_TYR,AirportTo_TYS,AirportTo_UTM,AirportTo_VLD,AirportTo_VPS,AirportTo_WRG,AirportTo_XNA,AirportTo_YAK,AirportTo_YUM
0,269,3,15,205,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1558,3,15,222,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2400,3,20,165,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2466,3,20,195,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,108,3,30,202,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539378,178,5,1439,326,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
539379,398,5,1439,305,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
539380,609,5,1439,255,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
539381,78,5,1439,313,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
539382,1442,5,1439,301,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
X.describe()

,Flight,DayOfWeek,Time,Length,Airline_AA,Airline_AS,Airline_B6,Airline_CO,Airline_DL,Airline_EV,...,AirportTo_TXK,AirportTo_TYR,AirportTo_TYS,AirportTo_UTM,AirportTo_VLD,AirportTo_VPS,AirportTo_WRG,AirportTo_XNA,AirportTo_YAK,AirportTo_YUM
count,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,...,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000
mean,2427.928630,3.929668,802.728963,132.202007,0.084645,0.021267,0.033579,0.039152,0.112981,0.051880,...,0.000143,0.000111,0.002210,0.000033,0.000161,0.001174,0.000109,0.002082,0.000106,0.000627
std,2067.429837,1.914664,278.045911,70.117016,0.278353,0.144273,0.180143,0.193957,0.316570,0.221784,...,0.011947,0.010546,0.046958,0.005777,0.012699,0.034237,0.010458,0.045582,0.010279,0.025025
min,1.000000,1.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,712.000000,2.000000,565.000000,81.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1809.000000,4.000000,795.000000,115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3745.000000,5.000000,1035.000000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,7814.000000,7.000000,1439.000000,655.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape

((377568, 605), (161815, 605))

In [67]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(377568, 605)
(161815, 605)
(377568,)
(161815,)

In [68]:
# Splitting into Train and Test sets into an 80/20 split.
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state=78, train_size=0.80)

In [69]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [73]:
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [74]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [76]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)
predictions

array([0, 1, 0, ..., 0, 1, 1])

In [77]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        63941        25964
Actual 1        37449        34461

In [79]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.608114204492785

In [60]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(random_state=42, max_depth=5, n_estimators=100, oob_score=False)

In [64]:
rf = classifier.fit(X_train, y_train)
rf

RandomForestClassifier(max_depth=5, random_state=42)

In [65]:
y_pred = rf.predict(X_test)
y_pred

array([0, 0, 1, ..., 0, 1, 0])