In [45]:
import warnings
warnings.filterwarnings('ignore')

In [46]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import plotly.graph_objects as go
import plotly.express as px
import os

In [47]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [48]:
from sklearn.preprocessing import LabelEncoder

In [49]:
#Indicate columns and target
columns = [
    "id","Airline","Delay","Flight","AirportFrom","AirportTo","DayOfWeek","Time","Length"
]

target = ["Delay"]

In [50]:
file_path = Path("Airlines.csv")
airlines_df = pd.read_csv(file_path)
airlines_df.head()

   id Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
0   1      CO     269         SFO       IAH          3    15     205      1
1   2      US    1558         PHX       CLT          3    15     222      1
2   3      AA    2400         LAX       DFW          3    20     165      1
3   4      AA    2466         SFO       DFW          3    20     195      1
4   5      AS     108         ANC       SEA          3    30     202      0

In [51]:
#Read data into pandas
#data = pd.read_csv("Airlines.csv")

airlines_df = airlines_df.loc[:, columns].copy()
airlines_df

,id,Airline,Delay,Flight,AirportFrom,AirportTo,DayOfWeek,Time,Length
0,1,CO,1,269,SFO,IAH,3,15,205
1,2,US,1,1558,PHX,CLT,3,15,222
2,3,AA,1,2400,LAX,DFW,3,20,165
3,4,AA,1,2466,SFO,DFW,3,20,195
4,5,AS,0,108,ANC,SEA,3,30,202
...,...,...,...,...,...,...,...,...,...
539378,539379,CO,0,178,OGG,SNA,5,1439,326
539379,539380,FL,0,398,SEA,ATL,5,1439,305
539380,539381,FL,0,609,SFO,MKE,5,1439,255
539381,539382,UA,1,78,HNL,SFO,5,1439,313
539382,539383,US,1,1442,LAX,PHL,5,1439,301

In [52]:
#Drop the null columns where all values are null
airlines_df = airlines_df.dropna(axis='columns', how='all')

# Drop the null rows
airlines_df = airlines_df.dropna()
airlines_df

,id,Airline,Delay,Flight,AirportFrom,AirportTo,DayOfWeek,Time,Length
0,1,CO,1,269,SFO,IAH,3,15,205
1,2,US,1,1558,PHX,CLT,3,15,222
2,3,AA,1,2400,LAX,DFW,3,20,165
3,4,AA,1,2466,SFO,DFW,3,20,195
4,5,AS,0,108,ANC,SEA,3,30,202
...,...,...,...,...,...,...,...,...,...
539378,539379,CO,0,178,OGG,SNA,5,1439,326
539379,539380,FL,0,398,SEA,ATL,5,1439,305
539380,539381,FL,0,609,SFO,MKE,5,1439,255
539381,539382,UA,1,78,HNL,SFO,5,1439,313
539382,539383,US,1,1442,LAX,PHL,5,1439,301

In [53]:
#Remove info that does not tell us anything about delay or no delay 
#Flight numbers cannot be used as unique identifier b/c some flights have same flight number but
#are based out of different airports
airlines_df = airlines_df.drop(columns =['id','Flight'],axis=1)
airlines_df

       Airline  Delay AirportFrom AirportTo  DayOfWeek  Time  Length
0           CO      1         SFO       IAH          3    15     205
1           US      1         PHX       CLT          3    15     222
2           AA      1         LAX       DFW          3    20     165
3           AA      1         SFO       DFW          3    20     195
4           AS      0         ANC       SEA          3    30     202
...        ...    ...         ...       ...        ...   ...     ...
539378      CO      0         OGG       SNA          5  1439     326
539379      FL      0         SEA       ATL          5  1439     305
539380      FL      0         SFO       MKE          5  1439     255
539381      UA      1         HNL       SFO          5  1439     313
539382      US      1         LAX       PHL          5  1439     301

[539383 rows x 7 columns]

# Initial Visulizations/Counts Using Plotly

In [54]:
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [55]:
#Create plot grouped by airline to count 
#df = airlines_df[['Airline','Delay']].groupby('Airline').agg('count').reset_index()
#fig = px.bar(airlines_df, x='Airline', y='Delay')
#fig.show()

In [56]:
#Create plot grouped by DayOfWeek to count 
#df = airlines_df[['DayOfWeek','Delay']].groupby('Airline').agg('count').reset_index()
#fig = px.bar(airlines_df, x='DayOfWeek', y='Delay')
#fig.show()

In [57]:

#Create plot grouped by departing airport to count 
#airlines_df = airlines_df[['AirportFrom','Delay']].groupby('AirportFrom').agg('count').reset_index()
#fig = px.bar(airlines_df, x='AirportFrom', y='Delay')
#fig.show()

In [58]:
#Create plot grouped by departing airport to count 
#airlines_df = airlines_df[['AirportTo','Delay']].groupby('AirportTo').agg('count').reset_index()
#fig = px.bar(airlines_df, x='AirportTo', y='Delay')
#fig.show()

In [59]:
#Create plot grouped by departing airport to count 
#airlines_df = data[['Length','Delay']].groupby('Length').agg('count').reset_index()
#fig = px.bar(airlines_df, x='Length', y='Delay')
#fig.show()

# Data Preparation

In [60]:
#Change numbers to day of week to later be converted to 1s and 0s 
days = {1:'Monday', 2:'Tuesday', 3:'Wednesday', 4:'Thursday', 5:'Friday', 6:'Saturday', 7:'Sunday'}

In [61]:
airlines_df['DayOfWeek'] = airlines_df['DayOfWeek'].map(days)
airlines_df

       Airline  Delay AirportFrom AirportTo  DayOfWeek  Time  Length
0           CO      1         SFO       IAH  Wednesday    15     205
1           US      1         PHX       CLT  Wednesday    15     222
2           AA      1         LAX       DFW  Wednesday    20     165
3           AA      1         SFO       DFW  Wednesday    20     195
4           AS      0         ANC       SEA  Wednesday    30     202
...        ...    ...         ...       ...        ...   ...     ...
539378      CO      0         OGG       SNA     Friday  1439     326
539379      FL      0         SEA       ATL     Friday  1439     305
539380      FL      0         SFO       MKE     Friday  1439     255
539381      UA      1         HNL       SFO     Friday  1439     313
539382      US      1         LAX       PHL     Friday  1439     301

[539383 rows x 7 columns]

In [62]:
# Create our features
# Convert string columns to numbers and drop 'delay' column then assign to X
X = pd.get_dummies(airlines_df, columns=['Airline', 'AirportFrom', 'AirportTo', 'DayOfWeek',]).drop('Delay', axis=1)
X

,Time,Length,Airline_9E,Airline_AA,Airline_AS,Airline_B6,Airline_CO,Airline_DL,Airline_EV,Airline_F9,...,AirportTo_XNA,AirportTo_YAK,AirportTo_YUM,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,15,205,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,15,222,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,20,165,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,20,195,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,30,202,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539378,1439,326,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
539379,1439,305,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
539380,1439,255,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
539381,1439,313,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
539382,1439,301,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [63]:
X.shape

(539383, 613)

In [64]:
# Create our target
y = airlines_df['Delay']
X.head()

,Time,Length,Airline_9E,Airline_AA,Airline_AS,Airline_B6,Airline_CO,Airline_DL,Airline_EV,Airline_F9,...,AirportTo_XNA,AirportTo_YAK,AirportTo_YUM,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,15,205,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,15,222,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,20,165,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,20,195,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,30,202,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [65]:
# Convert the target column values to delayed and not delayed based on their values
#y = {'0': 'no delay'}   
#airlines_df = airlines_df.replace(y)

#airlines_df.reset_index(inplace=True, drop=True)
#airlines_df

In [66]:
X.describe()

,Time,Length,Airline_9E,Airline_AA,Airline_AS,Airline_B6,Airline_CO,Airline_DL,Airline_EV,Airline_F9,...,AirportTo_XNA,AirportTo_YAK,AirportTo_YUM,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
count,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,...,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000
mean,802.728963,132.202007,0.038351,0.084645,0.021267,0.033579,0.039152,0.112981,0.051880,0.011969,...,0.002082,0.000106,0.000627,0.158047,0.134912,0.109303,0.129554,0.169536,0.132262,0.166386
std,278.045911,70.117016,0.192043,0.278353,0.144273,0.180143,0.193957,0.316570,0.221784,0.108747,...,0.045582,0.010279,0.025025,0.364786,0.341629,0.312019,0.335812,0.375225,0.338776,0.372427
min,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,565.000000,81.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,795.000000,115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1035.000000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1439.000000,655.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [67]:
y.value_counts()

0    299119
1    240264
Name: Delay, dtype: int64

In [68]:
## Labels are the values we want to predict
#labels = np.array(X['Delay'])

# Remove the labels from the features
# axis 1 refers to the columns
#X = X.drop('Delay', axis = 1)
# Saving feature names for later use
#X_list = list(X.columns)
# Convert to numpy array
#X = np.array(X)

In [69]:
#d = {}    
# airlines_df = airlines_df.replace(x)

# Split into training and testing splits

In [70]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [71]:
#Check balances

print(Counter(y_train))
print(Counter(y_test))

Counter({0: 224339, 1: 180198})
Counter({0: 74780, 1: 60066})

# Ensemble Learners
## Used to compare which algorithm results in best performance
## Chosen in an effort to improve the accuracy and robustness of the model, decrease variance of the model, and increase overall performance of the model

# Balanced Random Forest Classifier
## Chosen to rank importance of input variables, run efficiently on large datasets, and are robust against overfitting

In [72]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
random_f = BalancedRandomForestClassifier(n_estimators = 100)

In [73]:
random_f = random_f.fit(X_train, y_train, sample_weight=None)

In [74]:
# Calculated the balanced accuracy score
y_pred = random_f.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6064460265144553

In [75]:
# Display the confusion matrix
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[45478, 29302],
       [23742, 36324]])

In [76]:
#Create dataframe for the cm 
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
cm_df

          Predicted 0  Predicted 1
Actual 0        45478        29302
Actual 1        23742        36324

In [77]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, y_pred)

In [78]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, y_pred))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        45478        29302
Actual 1        23742        36324

Accuracy Score : 0.6066327514349703
Classification Report
              precision    recall  f1-score   support

           0       0.66      0.61      0.63     74780
           1       0.55      0.60      0.58     60066

    accuracy                           0.61    134846
   macro avg       0.61      0.61      0.60    134846
weighted avg       0.61      0.61      0.61    134846

In [79]:
# Calculate feature importance in the Random Forest model.
importances = random_f.feature_importances_
importances

array([3.08988012e-01, 1.73993797e-01, 1.73509006e-03, 2.76731035e-03,
       1.60856972e-03, 1.68181764e-03, 3.42353841e-03, 3.73013685e-03,
       1.75219766e-03, 1.08732445e-03, 4.12421509e-03, 5.93570959e-04,
       3.17187367e-03, 3.13495364e-03, 2.67754929e-03, 4.28901972e-03,
       3.78345850e-03, 4.47785459e-02, 2.14449543e-03, 4.39353719e-03,
       1.97436893e-04, 6.93505395e-05, 1.05442302e-03, 4.18154140e-06,
       4.98909901e-05, 3.04395132e-05, 1.21611795e-04, 2.73409026e-05,
       6.57277814e-06, 3.42749619e-05, 1.54499960e-04, 1.67343914e-04,
       5.67473822e-04, 2.35724366e-04, 2.79830471e-04, 1.85212188e-04,
       2.59685853e-03, 2.46852954e-04, 1.35262051e-03, 2.62408560e-04,
       1.27377857e-04, 1.17217038e-04, 1.07260613e-03, 6.19654879e-05,
       1.28998630e-04, 5.77462870e-05, 3.25817691e-05, 7.85716717e-04,
       1.93610836e-04, 2.08352047e-04, 3.34768379e-05, 1.53360416e-05,
       2.59209547e-04, 1.44961412e-03, 5.53659345e-04, 2.40502919e-03,
       6.09286779e-05, 6.97264159e-05, 9.79132680e-05, 5.37583050e-05,
       3.96952831e-05, 3.08328608e-04, 3.59902463e-04, 9.64686282e-04,
       6.45261066e-04, 1.98658526e-03, 2.21034545e-04, 3.61554277e-04,
       4.15513591e-04, 3.77322219e-05, 2.00078544e-05, 4.89648260e-05,
       1.37551915e-04, 5.86825097e-05, 5.20242098e-04, 5.46891875e-05,
       3.03508638e-04, 7.74791641e-05, 1.50914021e-03, 1.89119332e-05,
       2.00440863e-03, 1.34176514e-03, 7.36198765e-05, 4.33128492e-05,
       6.99287715e-05, 4.14644485e-04, 5.45310905e-05, 1.00831441e-04,
       2.48446636e-04, 3.09026866e-04, 1.21780066e-04, 1.41575696e-03,
       9.20761492e-05, 1.67198091e-05, 9.94461998e-05, 1.42894791e-03,
       7.07474533e-04, 1.71593997e-05, 1.69033221e-03, 2.61313871e-03,
       2.08011974e-03, 7.04358521e-05, 1.52350918e-04, 1.15301067e-04,
       6.03259176e-04, 2.42215435e-03, 4.05286637e-05, 4.83302271e-04,
       2.02680890e-04, 7.68082364e-05, 9.17890625e-05, 6.54244505e-04,
       4.45189687e-05, 1.77527107e-04, 1.98512123e-04, 6.44309302e-05,
       1.83354867e-03, 1.10272981e-04, 8.94752659e-05, 2.73961857e-04,
       4.30595815e-04, 1.32688628e-04, 9.92304694e-05, 6.73405870e-05,
       1.63419399e-03, 1.56760448e-05, 2.83530413e-04, 3.26271257e-04,
       9.46199258e-05, 2.74955458e-04, 9.49528778e-05, 6.37192326e-04,
       9.54208289e-05, 2.23284580e-05, 2.24758230e-04, 1.06685252e-04,
       2.74647876e-04, 2.83562149e-04, 1.21771235e-04, 6.12070836e-04,
       4.18184028e-04, 4.23944467e-04, 8.75685444e-05, 3.00214353e-05,
       7.46972475e-05, 9.12836957e-06, 1.06474491e-04, 8.24282647e-05,
       7.75437959e-04, 1.41987239e-03, 3.49596138e-04, 2.21780583e-04,
       4.83270642e-04, 1.99562993e-05, 1.64278349e-03, 1.98654883e-03,
       5.03341102e-04, 1.20608642e-04, 1.63255663e-04, 1.47507849e-03,
       3.11086243e-05, 2.73375657e-04, 5.85401744e-05, 7.45360822e-05,
       6.28700815e-05, 1.80758558e-04, 4.88773238e-04, 1.05960199e-03,
       1.72649003e-03, 7.81512052e-05, 3.06330993e-04, 6.71832395e-05,
       1.44091713e-04, 2.31789301e-03, 2.87081159e-03, 2.61494563e-04,
       3.91155832e-05, 4.98938158e-04, 2.33114686e-04, 1.94297426e-03,
       3.74535727e-04, 2.60215966e-04, 7.40409880e-04, 4.92072942e-05,
       1.26536201e-04, 1.09301892e-04, 6.78651159e-05, 6.10048533e-05,
       5.93690188e-05, 4.78944505e-05, 3.40708046e-04, 1.61499685e-04,
       1.55086059e-03, 2.61763653e-03, 2.86931069e-04, 3.11465781e-03,
       3.62019506e-05, 1.56725884e-03, 2.31847608e-04, 1.71534310e-04,
       1.94468639e-04, 6.97572762e-05, 5.43648835e-04, 1.34369891e-03,
       1.48476820e-03, 4.31182128e-05, 1.17587662e-04, 3.48626539e-04,
       1.15938449e-04, 1.56369118e-05, 2.73773423e-04, 4.66843346e-05,
       1.41201913e-04, 5.72159755e-05, 1.64930744e-04, 4.58735227e-04,
       1.44676666e-04, 2.31254199e-03, 1.44171178e-03, 1.43707061e-04,
       1.37098629e-04, 9.10060474e-05, 1.43005144e-03, 5.26322939e-04,
       9.55447444e-04, 1.06374582e-03, 4.80598610e-05, 7.17922707e-04,
       4.02708611e-03, 8.11328623e-04, 6.81295260e-05, 5.95886152e-05,
       4.62299761e-05, 9.05846575e-04, 1.40291459e-03, 2.82436643e-04,
       1.89361334e-03, 2.50170344e-03, 1.51236819e-04, 1.70028654e-05,
       6.38070909e-05, 1.58212701e-03, 3.14364928e-05, 3.90336546e-04,
       2.16485528e-04, 3.28655896e-05, 2.27844197e-05, 4.84276124e-04,
       7.28175160e-04, 2.85298993e-04, 2.36793810e-04, 7.17455679e-05,
       1.57387109e-04, 1.59865139e-03, 7.20947228e-04, 9.53670119e-05,
       6.38400846e-04, 2.12810897e-04, 6.96313046e-04, 4.43208856e-05,
       1.00920328e-04, 1.13612203e-03, 4.14788823e-05, 1.58775924e-03,
       1.24189708e-03, 4.38262544e-04, 2.86465491e-04, 2.67350654e-04,
       1.57801559e-04, 2.17301896e-05, 4.64229009e-05, 7.79690963e-04,
       1.79813750e-03, 2.37609394e-03, 3.09069697e-04, 1.09742461e-04,
       2.15316209e-04, 2.68142249e-05, 1.07292916e-03, 9.61086364e-06,
       7.28142967e-04, 1.82655264e-03, 1.21465006e-03, 6.38707106e-05,
       1.25709962e-03, 1.12525114e-04, 2.11472983e-05, 2.83701662e-04,
       1.61301620e-03, 2.04195658e-04, 3.73458474e-05, 8.72010173e-05,
       1.25559423e-04, 6.44224608e-04, 1.36291971e-05, 2.06533843e-04,
       1.83795211e-05, 1.79332057e-03, 1.69635001e-04, 8.92184856e-04,
       8.02757566e-04, 1.56989567e-04, 8.05740610e-05, 3.39159651e-05,
       3.09182261e-05, 5.76289491e-04, 1.14020762e-05, 5.79118630e-05,
       2.83774731e-04, 1.77523264e-05, 5.53934148e-04, 2.56212337e-05,
       1.14316277e-04, 2.27860685e-04, 4.85838149e-05, 9.74549204e-04,
       3.33864945e-06, 6.28244640e-05, 2.38127075e-05, 9.22993467e-05,
       4.02510372e-05, 5.05120836e-06, 2.21546703e-05, 1.54881156e-04,
       1.38068863e-04, 5.40074127e-04, 2.08704855e-04, 2.78715290e-04,
       2.16582570e-04, 2.87080121e-03, 2.58915474e-04, 1.22929358e-03,
       2.23739033e-04, 1.34880358e-04, 1.27584530e-04, 1.08570936e-03,
       3.19018070e-05, 1.32316347e-04, 5.59774287e-05, 2.47711787e-05,
       7.56658718e-04, 1.81328938e-04, 2.12534163e-04, 3.87430935e-05,
       1.34690002e-05, 2.59870945e-04, 1.53994279e-03, 5.30861961e-04,
       2.20331389e-03, 6.25858208e-05, 7.13175092e-05, 1.29423297e-04,
       2.51962320e-05, 5.75521867e-05, 2.92848063e-04, 3.67008920e-04,
       9.30950322e-04, 6.26527832e-04, 1.90155109e-03, 2.48481994e-04,
       3.89439930e-04, 4.06795772e-04, 3.96518809e-05, 2.58874105e-05,
       4.13859514e-05, 1.79453928e-04, 6.41508562e-05, 5.59038745e-04,
       5.11115578e-05, 2.98388567e-04, 6.57993870e-05, 1.41428451e-03,
       1.98073165e-05, 1.70269777e-03, 1.23316844e-03, 7.63211098e-05,
       3.41361657e-05, 7.71492754e-05, 3.63635234e-04, 4.69149496e-05,
       1.36080204e-04, 2.18931525e-04, 2.79861088e-04, 8.60171090e-05,
       1.41731149e-03, 6.09331047e-05, 1.82876082e-05, 1.19708034e-04,
       6.42539814e-04, 7.33080106e-04, 1.88916299e-05, 1.63858416e-03,
       2.78312361e-03, 2.92684750e-03, 6.76631879e-05, 1.40411033e-04,
       1.16857047e-04, 5.65046895e-04, 2.43301766e-03, 4.23898693e-05,
       2.95855673e-04, 2.12698021e-04, 7.01980224e-05, 6.98080195e-05,
       6.63457114e-04, 4.04230149e-05, 1.71516903e-04, 2.35203387e-04,
       6.67043019e-05, 1.88815337e-03, 9.86288674e-05, 8.25972852e-05,
       2.70112195e-04, 3.90594642e-04, 1.52458857e-04, 1.23855933e-04,
       4.40300880e-05, 1.60603724e-03, 1.74489391e-05, 2.82882463e-04,
       2.94269488e-04, 7.21021642e-05, 2.70561225e-04, 9.06743832e-05,
       4.70985927e-04, 9.87723191e-05, 1.92794928e-05, 2.19030102e-04,
       1.08124053e-04, 2.86009464e-04, 2.87990253e-04, 1.23689505e-04,
       6.67478455e-04, 4.49750666e-04, 4.59392689e-04, 9.79508615e-05,
       5.40086947e-05, 8.38194628e-05, 7.37893067e-06, 1.41996791e-04,
       1.11931684e-04, 7.43100057e-04, 1.06631233e-03, 3.68514429e-04,
       1.62774689e-04, 4.83617479e-04, 2.68791360e-05, 1.59321780e-03,
       1.98510940e-03, 5.06716077e-04, 1.03988611e-04, 1.62663171e-04,
       1.44335399e-03, 3.76320006e-05, 2.32885656e-04, 5.15707802e-05,
       8.53755875e-05, 5.98890026e-05, 2.25624321e-04, 4.56804480e-04,
       1.10610111e-03, 1.78974197e-03, 8.70199635e-05, 2.50981213e-04,
       5.79828313e-05, 1.60872716e-04, 2.44307041e-03, 2.62606334e-03,
       2.68297138e-04, 5.49180385e-05, 4.91636475e-04, 1.91840808e-04,
       1.98134028e-03, 3.68900206e-04, 1.97164971e-04, 6.79450474e-04,
       6.55928864e-05, 1.46477027e-04, 1.06100976e-04, 9.89142165e-05,
       4.34132743e-05, 4.85541493e-05, 5.26476489e-05, 2.62453334e-04,
       1.65246011e-04, 1.56218801e-03, 2.54320029e-03, 3.50632636e-04,
       1.69167053e-03, 3.82463359e-05, 1.57443889e-03, 2.30002495e-04,
       1.76179534e-04, 1.64325407e-04, 6.82439979e-05, 5.43940087e-04,
       1.47213040e-03, 1.38926045e-03, 4.61662096e-05, 9.88214314e-05,
       3.29573800e-04, 1.10297093e-04, 2.67819494e-05, 2.45286537e-04,
       3.33926564e-05, 1.19904684e-04, 6.26777791e-05, 1.93312399e-04,
       5.17015414e-04, 1.43396201e-04, 2.32185348e-03, 1.38274012e-03,
       1.40325188e-04, 1.46612177e-04, 7.42223480e-05, 9.35347307e-04,
       3.81752894e-04, 8.52567976e-04, 9.44106950e-04, 5.44796468e-05,
       6.34078003e-04, 2.92160051e-03, 7.72536741e-04, 4.57292076e-05,
       4.99705491e-05, 4.05921029e-05, 9.45782537e-04, 1.31614322e-03,
       2.70051144e-04, 1.86355487e-03, 2.50835214e-03, 1.59565523e-04,
       2.02698873e-05, 7.14079742e-05, 1.53034154e-03, 2.36417012e-05,
       4.37527231e-04, 1.58143279e-04, 3.79588537e-05, 1.87150687e-05,
       4.47382168e-04, 6.84059379e-04, 3.42142055e-04, 2.57203884e-04,
       5.53046473e-05, 1.48475833e-04, 1.52449788e-03, 7.81448768e-04,
       1.17969882e-04, 6.45874825e-04, 1.95912529e-04, 6.63332988e-04,
       6.27553011e-05, 9.01781228e-05, 1.15811504e-03, 4.47171483e-05,
       1.60538104e-03, 1.19175015e-03, 4.25507906e-04, 2.87255279e-04,
       2.39329686e-04, 1.60107686e-04, 2.44476314e-05, 5.39094701e-05,
       7.13859170e-04, 1.69742861e-03, 2.28754961e-03, 3.21640929e-04,
       9.55634725e-05, 1.78607561e-04, 3.00505239e-05, 1.00722351e-03,
       2.06277602e-05, 8.14563737e-04, 1.75626901e-03, 1.05002977e-03,
       6.50388864e-05, 1.16338632e-03, 9.38937595e-05, 2.85997666e-05,
       2.88479716e-04, 1.70055998e-03, 1.61022285e-04, 4.09232235e-05,
       1.01410078e-04, 1.06698089e-04, 5.47276557e-04, 8.88336364e-06,
       2.19499850e-04, 2.28460459e-05, 1.88118678e-03, 1.89577600e-04,
       8.43877563e-04, 7.60829122e-04, 1.67231874e-04, 7.11201198e-05,
       2.93977637e-05, 2.48923311e-05, 5.87668363e-04, 1.28304416e-05,
       5.30524738e-05, 2.94735436e-04, 1.92102300e-05, 5.61871750e-04,
       2.13490427e-05, 1.04547001e-04, 1.76279561e-02, 2.04743869e-02,
       1.18769251e-02, 2.05899184e-02, 2.35035377e-02, 2.16009973e-02,
       2.03090224e-02])

In [80]:
# We can sort the features by their importance.
sorted(zip(random_f.feature_importances_, X.columns), reverse=True)

[(0.3089880124705678, 'Time'),
 (0.17399379653673433, 'Length'),
 (0.04477854585424607, 'Airline_WN'),
 (0.02350353774907837, 'DayOfWeek_Thursday'),
 (0.021600997255973284, 'DayOfWeek_Tuesday'),
 (0.020589918413409354, 'DayOfWeek_Sunday'),
 (0.02047438691522934, 'DayOfWeek_Monday'),
 (0.0203090224386119, 'DayOfWeek_Wednesday'),
 (0.01762795607693876, 'DayOfWeek_Friday'),
 (0.01187692509921278, 'DayOfWeek_Saturday'),
 (0.004393537186128096, 'Airline_YV'),
 (0.004289019724323398, 'Airline_UA'),
 (0.0041242150865527065, 'Airline_FL'),
 (0.004027086113549419, 'AirportFrom_ORD'),
 (0.0037834584960950023, 'Airline_US'),
 (0.003730136848504885, 'Airline_DL'),
 (0.0034235384092699515, 'Airline_CO'),
 (0.0031718736744366376, 'Airline_MQ'),
 (0.003134953637343915, 'Airline_OH'),
 (0.0031146578136603646, 'AirportFrom_MDW'),
 (0.002926847500706649, 'AirportTo_DFW'),
 (0.002921600510716934, 'AirportTo_ORD'),
 (0.002870811586665109, 'AirportFrom_LAX'),
 (0.002870801210993355, 'AirportTo_ATL'),
 (0.002783123608194519, 'AirportTo_DEN'),
 (0.0027673103486691606, 'Airline_AA'),
 (0.002677549287119433, 'Airline_OO'),
 (0.0026260633394681147, 'AirportTo_LAX'),
 (0.002617636525218043, 'AirportFrom_MCO'),
 (0.0026131387097863145, 'AirportFrom_DEN'),
 (0.002596858534128123, 'AirportFrom_ATL'),
 (0.0025432002886092587, 'AirportTo_MCO'),
 (0.0025083521398708247, 'AirportTo_PHX'),
 (0.0025017034426057785, 'AirportFrom_PHX'),
 (0.0024430704068995877, 'AirportTo_LAS'),
 (0.002433017659013237, 'AirportTo_DTW'),
 (0.002422154346763949, 'AirportFrom_DTW'),
 (0.0024050291851396752, 'AirportFrom_BOS'),
 (0.002376093943435736, 'AirportFrom_SFO'),
 (0.0023218534775785614, 'AirportTo_MSP'),
 (0.002317893010332147, 'AirportFrom_LAS'),
 (0.002312541985503768, 'AirportFrom_MSP'),
 (0.0022875496146540645, 'AirportTo_SFO'),
 (0.002203313891257167, 'AirportTo_BOS'),
 (0.002144495430047903, 'Airline_XE'),
 (0.0020801197365882917, 'AirportFrom_DFW'),
 (0.0020044086310294913, 'AirportFrom_CLT'),
 (0.0019865852634856815, 'AirportFrom_BWI'),
 (0.0019865488254726927, 'AirportFrom_IAH'),
 (0.0019851094015326137, 'AirportTo_IAH'),
 (0.0019813402770257173, 'AirportTo_LGA'),
 (0.001942974259958246, 'AirportFrom_LGA'),
 (0.0019015510939682685, 'AirportTo_BWI'),
 (0.0018936133354838177, 'AirportFrom_PHL'),
 (0.0018881533709043012, 'AirportTo_EWR'),
 (0.001881186778852346, 'AirportTo_TPA'),
 (0.001863554872086184, 'AirportTo_PHL'),
 (0.0018335486687956195, 'AirportFrom_EWR'),
 (0.0018265526380150355, 'AirportFrom_SLC'),
 (0.0017981374991015895, 'AirportFrom_SEA'),
 (0.0017933205727187055, 'AirportFrom_TPA'),
 (0.001789741970630873, 'AirportTo_JFK'),
 (0.0017562690139517338, 'AirportTo_SLC'),
 (0.0017521976616496917, 'Airline_EV'),
 (0.001735090064973055, 'Airline_9E'),
 (0.0017264900332728064, 'AirportFrom_JFK'),
 (0.0017026977661666418, 'AirportTo_CLT'),
 (0.0017005599824206129, 'AirportTo_STL'),
 (0.001697428609132346, 'AirportTo_SEA'),
 (0.0016916705319656915, 'AirportTo_MDW'),
 (0.0016903322087131374, 'AirportFrom_DCA'),
 (0.0016818176403273182, 'Airline_B6'),
 (0.0016427834898014178, 'AirportFrom_IAD'),
 (0.001638584160569543, 'AirportTo_DCA'),
 (0.0016341939919860414, 'AirportFrom_FLL'),
 (0.0016130161957841767, 'AirportFrom_STL'),
 (0.0016085697185643116, 'Airline_AS'),
 (0.0016060372386888248, 'AirportTo_FLL'),
 (0.0016053810358031256, 'AirportTo_SAN'),
 (0.001598651390154598, 'AirportFrom_RDU'),
 (0.0015932177961550656, 'AirportTo_IAD'),
 (0.0015877592439725132, 'AirportFrom_SAN'),
 (0.0015821270139838835, 'AirportFrom_PIT'),
 (0.001574438889377435, 'AirportTo_MEM'),
 (0.0015672588409585994, 'AirportFrom_MEM'),
 (0.001562188013479695, 'AirportTo_MCI'),
 (0.001550860585993492, 'AirportFrom_MCI'),
 (0.0015399427896212862, 'AirportTo_BNA'),
 (0.0015303415389111353, 'AirportTo_PIT'),
 (0.001524497883228327, 'AirportTo_RDU'),
 (0.0015091402148341686, 'AirportFrom_CLE'),
 (0.0014847681969573836, 'AirportFrom_MKE'),
 (0.0014750784851071685, 'AirportFrom_IND'),
 (0.0014721303980826524, 'AirportTo_MIA'),
 (0.0014496141238015958, 'AirportFrom_BNA'),
 (0.0014433539853155404, 'AirportTo_IND'),
 (0.0014417117763481351, 'AirportFrom_MSY'),
 (0.001430051441951835, 'AirportFrom_OAK'),
 (0.0014289479125917334, 'AirportFrom_DAL'),
 (0.0014198723923376357, 'AirportFrom_HOU'),
 (0.0014173114941864913, 'AirportTo_CVG'),
 (0.0014157569594045979, 'AirportFrom_CVG'),
 (0.0014142845083609387, 'AirportTo_CLE'),
 (0.001402914594260963, 'AirportFrom_PDX'),
 (0.0013892604458472062, 'AirportTo_MKE'),
 (0.0013827401180161283, 'AirportTo_MSY'),
 (0.0013526205136261376, 'AirportFrom_AUS'),
 (0.0013436989144052782, 'AirportFrom_MIA'),
 (0.001341765135306209, 'AirportFrom_CMH'),
 (0.0013161432171913594, 'AirportTo_PDX'),
 (0.0012570996155018322, 'AirportFrom_SNA'),
 (0.0012418970826763556, 'AirportFrom_SAT'),
 (0.0012331684403518077, 'AirportTo_CMH'),
 (0.0012292935843330464, 'AirportTo_AUS'),
 (0.0012146500640729295, 'AirportFrom_SMF'),
 (0.001191750150467159, 'AirportTo_SAT'),
 (0.0011633863155957823, 'AirportTo_SNA'),
 (0.0011581150425829705, 'AirportTo_RSW'),
 (0.0011361220316109457, 'AirportFrom_RSW'),
 (0.001106101113435875, 'AirportTo_JAX'),
 (0.0010873244524713778, 'Airline_F9'),
 (0.0010857093633529868, 'AirportTo_BDL'),
 (0.0010729291628944395, 'AirportFrom_SJC'),
 (0.0010726061306207569, 'AirportFrom_BDL'),
 (0.0010663123269798803, 'AirportTo_HOU'),
 (0.0010637458235296046, 'AirportFrom_OMA'),
 (0.0010596019921043965, 'AirportFrom_JAX'),
 (0.001054423020495307, 'AirportFrom_ABQ'),
 (0.0010500297693525392, 'AirportTo_SMF'),
 (0.0010072235095886237, 'AirportTo_SJC'),
 (0.0009745492038650747, 'AirportTo_ABQ'),
 (0.0009646862818822067, 'AirportFrom_BUF'),
 (0.0009554474436819523, 'AirportFrom_OKC'),
 (0.000945782537250108, 'AirportTo_PBI'),
 (0.0009441069499362588, 'AirportTo_OMA'),
 (0.0009353473066914609, 'AirportTo_OAK'),
 (0.0009309503222376731, 'AirportTo_BUF'),
 (0.0009058465751045113, 'AirportFrom_PBI'),
 (0.0008921848562460542, 'AirportFrom_TUL'),
 (0.0008525679755251574, 'AirportTo_OKC'),
 (0.0008438775627976399, 'AirportTo_TUL'),
 (0.0008145637370415737, 'AirportTo_SJU'),
 (0.0008113286232581191, 'AirportFrom_ORF'),
 (0.0008027575656668559, 'AirportFrom_TUS'),
 (0.0007857167169484594, 'AirportFrom_BHM'),
 (0.0007814487675144081, 'AirportTo_RIC'),
 (0.0007796909625415085, 'AirportFrom_SDF'),
 (0.0007754379593335295, 'AirportFrom_HNL'),
 (0.0007725367410883071, 'AirportTo_ORF'),
 (0.0007608291223666527, 'AirportTo_TUS'),
 (0.0007566587176053288, 'AirportTo_BHM'),
 (0.0007431000570074046, 'AirportTo_HNL'),
 (0.0007404098799577745, 'AirportFrom_LIT'),
 (0.0007330801055037684, 'AirportTo_DAY'),
 (0.000728175159605803, 'AirportFrom_PVD'),
 (0.0007281429668407223, 'AirportFrom_SJU'),
 (0.0007209472279746058, 'AirportFrom_RIC'),
 (0.0007179227069619135, 'AirportFrom_ONT'),
 (0.0007138591704597624, 'AirportTo_SDF'),
 (0.0007074745327933156, 'AirportFrom_DAY'),
 (0.0006963130459018266, 'AirportFrom_ROC'),
 (0.0006840593787434968, 'AirportTo_PVD'),
 (0.0006794504741917858, 'AirportTo_LIT'),
 (0.0006674784550735551, 'AirportTo_GRR'),
 (0.0006634571136059607, 'AirportTo_ELP'),
 (0.0006633329883852487, 'AirportTo_ROC'),
 (0.0006542445051863731, 'AirportFrom_ELP'),
 (0.0006458748248600142, 'AirportTo_RNO'),
 (0.0006452610663958549, 'AirportFrom_BUR'),
 (0.0006442246076552959, 'AirportFrom_SYR'),
 (0.0006425398141687957, 'AirportTo_DAL'),
 (0.00063840084630535, 'AirportFrom_RNO'),
 (0.0006371923260150287, 'AirportFrom_GEG'),
 (0.0006340780033169129, 'AirportTo_ONT'),
 (0.0006265278316867827, 'AirportTo_BUR'),
 (0.0006120708363904423, 'AirportFrom_GRR'),
 (0.000603259175792602, 'AirportFrom_DSM'),
 (0.0005935709591281424, 'Airline_HA'),
 (0.0005876683634157513, 'AirportTo_TYS'),
 (0.0005762894908937206, 'AirportFrom_TYS'),
 (0.0005674738217097942, 'AirportFrom_ALB'),
 (0.0005650468948557392, 'AirportTo_DSM'),
 (0.0005618717504137802, 'AirportTo_XNA'),
 (0.0005590387451112211, 'AirportTo_CHS'),
 (0.000553934147747973, 'AirportFrom_XNA'),
 (0.0005536593446396085, 'AirportFrom_BOI'),
 (0.0005472765566085472, 'AirportTo_SYR'),
 (0.0005439400872364356, 'AirportTo_MHT'),
 (0.0005436488354576351, 'AirportFrom_MHT'),
 (0.00054007412696914, 'AirportTo_ALB'),
 (0.0005308619614152275, 'AirportTo_BOI'),
 (0.000526322939426388, 'AirportFrom_OGG'),
 (0.0005202420982322097, 'AirportFrom_CHS'),
 (0.0005170154135357912, 'AirportTo_MSN'),
 (0.0005067160767679473, 'AirportTo_ICT'),
 (0.0005033411015197038, 'AirportFrom_ICT'),
 (0.0004989381577591779, 'AirportFrom_LEX'),
 (0.000491636475136763, 'AirportTo_LEX'),
 (0.0004887732383775591, 'AirportFrom_JAN'),
 (0.00048427612444111747, 'AirportFrom_PSP'),
 (0.00048361747937168925, 'AirportTo_HSV'),
 (0.00048330227064554397, 'AirportFrom_ECP'),
 (0.0004832706416631897, 'AirportFrom_HSV'),
 (0.0004709859267253504, 'AirportTo_GEG'),
 (0.00045939268921200527, 'AirportTo_GSP'),
 (0.0004587352272411126, 'AirportFrom_MSN'),
 (0.000456804480033433, 'AirportTo_JAN'),
 (0.000449750666255647, 'AirportTo_GSO'),
 (0.0004473821679717127, 'AirportTo_PSP'),
 (0.0004382625435523357, 'AirportFrom_SAV'),
 (0.00043752723100713774, 'AirportTo_PNS'),
 (0.00043059581481146605, 'AirportFrom_FAT'),
 (0.00042550790557778923, 'AirportTo_SAV'),
 (0.00042394446740522145, 'AirportFrom_GSP'),
 (0.00041818402771752244, 'AirportFrom_GSO'),
 (0.00041551359071652995, 'AirportFrom_CAK'),
 (0.0004146444849755598, 'AirportFrom_COS'),
 (0.00040679577162280097, 'AirportTo_CAK'),
 (0.0003905946418064968, 'AirportTo_FAT'),
 (0.00039033654604980663, 'AirportFrom_PNS'),
 (0.0003894399300548692, 'AirportTo_CAE'),
 (0.00038175289443118847, 'AirportTo_OGG'),
 (0.00037453572655932974, 'AirportFrom_LGB'),
 (0.00036890020578323824, 'AirportTo_LGB'),
 (0.00036851442927292847, 'AirportTo_HPN'),
 (0.000367008919591132, 'AirportTo_BTV'),
 (0.00036363523383042346, 'AirportTo_COS'),
 (0.00036155427658302676, 'AirportFrom_CAE'),
 (0.00035990246313748203, 'AirportFrom_BTV'),
 (0.00035063263589697773, 'AirportTo_MDT'),
 (0.0003495961381600858, 'AirportFrom_HPN'),
 (0.0003486265388476108, 'AirportFrom_MLI'),
 (0.00034214205519068707, 'AirportTo_PWM'),
 (0.0003407080460657135, 'AirportFrom_MAF'),
 (0.0003295738002113731, 'AirportTo_MLI'),
 (0.0003262712567013572, 'AirportFrom_FSD'),
 (0.0003216409292431359, 'AirportTo_SGF'),
 (0.0003090696966761874, 'AirportFrom_SGF'),
 (0.0003090268661973396, 'AirportFrom_CRW'),
 (0.00030832860824968686, 'AirportFrom_BTR'),
 (0.0003063309932303324, 'AirportFrom_KOA'),
 (0.0003035086375224801, 'AirportFrom_CID'),
 (0.0002983885666524965, 'AirportTo_CID'),
 (0.0002958556726034202, 'AirportTo_ECP'),
 (0.000294735436076215, 'AirportTo_VPS'),
 (0.0002942694879923079, 'AirportTo_FSD'),
 (0.0002928480628338062, 'AirportTo_BTR'),
 (0.0002884797164656556, 'AirportTo_SRQ'),
 (0.00028799025259717924, 'AirportTo_GRB'),
 (0.00028725527931594287, 'AirportTo_SBA'),
 (0.00028693106924779747, 'AirportFrom_MDT'),
 (0.0002864654912186989, 'AirportFrom_SBA'),
 (0.00028600946357109063, 'AirportTo_GPT'),
 (0.0002852989930545408, 'AirportFrom_PWM'),
 (0.0002837747314364692, 'AirportFrom_VPS'),
 (0.0002837016619338561, 'AirportFrom_SRQ'),
 (0.00028356214873492846, 'AirportFrom_GRB'),
 (0.0002835304132114868, 'AirportFrom_FNT'),
 (0.00028288246346661267, 'AirportTo_FNT'),
 (0.00028243664313247507, 'AirportFrom_PHF'),
 (0.0002798610883865202, 'AirportTo_CRW'),
 (0.0002798304706870062, 'AirportFrom_ANC'),
 (0.00027871528968746956, 'AirportTo_ANC'),
 (0.0002749554584454891, 'AirportFrom_FWA'),
 (0.0002746478756963904, 'AirportFrom_GPT'),
 (0.0002739618571692948, 'AirportFrom_FAR'),
 (0.00027377342290859475, 'AirportFrom_MOB'),
 (0.0002733756566888068, 'AirportFrom_ISP'),
 (0.0002705612253346023, 'AirportTo_FWA'),
 (0.00027011219453054866, 'AirportTo_FAR'),
 (0.0002700511440802203, 'AirportTo_PHF'),
 (0.00026829713807354134, 'AirportTo_LBB'),
 (0.00026735065419317757, 'AirportFrom_SBN'),
 (0.00026245333403689797, 'AirportTo_MAF'),
 (0.00026240856003477425, 'AirportFrom_AVL'),
 (0.00026149456337844603, 'AirportFrom_LBB'),
 (0.00026021596633253656, 'AirportFrom_LIH'),
 (0.0002598709448570259, 'AirportTo_BMI'),
 (0.0002592095471716087, 'AirportFrom_BMI'),
 (0.00025891547352871426, 'AirportTo_ATW'),
 (0.000257203883701672, 'AirportTo_RAP'),
 (0.0002509812125048491, 'AirportTo_KOA'),
 (0.00024848199363609956, 'AirportTo_BZN'),
 (0.000248446636190589, 'AirportFrom_CRP'),
 (0.0002468529540697855, 'AirportFrom_ATW'),
 (0.0002452865366366677, 'AirportTo_MOB'),
 (0.00023932968589633998, 'AirportTo_SBN'),
 (0.0002367938104034573, 'AirportFrom_RAP'),
 (0.00023572436594602997, 'AirportFrom_AMA'),
 (0.0002352033873211486, 'AirportTo_EVV'),
 (0.00023311468632404174, 'AirportFrom_LFT'),
 (0.0002328856555223355, 'AirportTo_ISP'),
 (0.0002318476081160398, 'AirportFrom_MFE'),
 (0.00023000249520302888, 'AirportTo_MFE'),
 (0.00022786068515645458, 'AirportTo_ABE'),
 (0.00022562432067009354, 'AirportTo_JAC'),
 (0.000224758230330506, 'AirportFrom_GJT'),
 (0.00022373903308989032, 'AirportTo_AVL'),
 (0.00022178058346274395, 'AirportFrom_HRL'),
 (0.0002210345453397649, 'AirportFrom_BZN'),
 (0.00021949984950684769, 'AirportTo_TLH'),
 (0.0002190301020766989, 'AirportTo_GJT'),
 (0.00021893152461917664, 'AirportTo_CRP'),
 (0.00021658256990088532, 'AirportTo_ASE'),
 (0.00021648552821959587, 'AirportFrom_PSC'),
 (0.0002153162090471826, 'AirportFrom_SHV'),
 (0.00021281089689585334, 'AirportFrom_ROA'),
 (0.00021269802134237127, 'AirportTo_EGE'),
 (0.0002125341632785611, 'AirportTo_BIS'),
 (0.00020870485525009724, 'AirportTo_AMA'),
 (0.00020835204670621065, 'AirportFrom_BIS'),
 (0.00020653384253434563, 'AirportFrom_TLH'),
 (0.00020419565799076832, 'AirportFrom_STT'),
 (0.00020268089029170592, 'AirportFrom_EGE'),
 (0.00019851212296254601, 'AirportFrom_EVV'),
 (0.00019743689303422122, 'AirportFrom_ABE'),
 (0.000197164971458046, 'AirportTo_LIH'),
 (0.00019591252922996022, 'AirportTo_ROA'),
 (0.0001944686390333195, 'AirportFrom_MGM'),
 (0.00019361083645089066, 'AirportFrom_BIL'),
 (0.00019331239903941442, 'AirportTo_MRY'),
 (0.00019184080807355607, 'AirportTo_LFT'),
 (0.00018957759953730372, 'AirportTo_TRI'),
 (0.0001852121884746705, 'AirportFrom_ASE'),
 (0.00018132893795932327, 'AirportTo_BIL'),
 (0.00018075855769420312, 'AirportFrom_JAC'),
 (0.00017945392783313684, 'AirportTo_CHA'),
 (0.0001786075610671494, 'AirportTo_SHV'),
 (0.00017752710680445436, 'AirportFrom_EUG'),
 (0.00017617953370501255, 'AirportTo_MFR'),
 (0.00017153430987812727, 'AirportFrom_MFR'),
 (0.0001715169034316999, 'AirportTo_EUG'),
 (0.00016963500087669605, 'AirportFrom_TRI'),
 (0.00016734391377409705, 'AirportFrom_AGS'),
 (0.00016723187420673434, 'AirportTo_TVC'),
 (0.00016524601059439916, 'AirportTo_MBS'),
 (0.00016493074439578647, 'AirportFrom_MRY'),
 (0.00016432540694695213, 'AirportTo_MGM'),
 (0.0001632556634010852, 'AirportFrom_ILM'),
 (0.00016277468868847872, 'AirportTo_HRL'),
 (0.00016266317126518626, 'AirportTo_ILM'),
 (0.0001614996851429256, 'AirportFrom_MBS'),
 (0.00016102228506792448, 'AirportTo_STT'),
 (0.00016087271577205635, 'AirportTo_LAN'),
 (0.0001601076861180509, 'AirportTo_SBP'),
 (0.00015956552284112559, 'AirportTo_PIA'),
 (0.0001581432786024241, 'AirportTo_PSC'),
 (0.00015780155931460933, 'AirportFrom_SBP'),
 (0.00015738710856160306, 'AirportFrom_RDM'),
 (0.00015698956731940848, 'AirportFrom_TVC'),
 (0.0001548811558640754, 'AirportTo_AEX'),
 (0.00015449995967225909, 'AirportFrom_AEX'),
 (0.00015245885734409308, 'AirportTo_FAY'),
 (0.00015235091807501932, 'AirportFrom_DLH'),
 (0.00015123681868603873, 'AirportFrom_PIA'),
 (0.000148475833262586, 'AirportTo_RDM'),
 (0.00014661217690416104, 'AirportTo_MYR'),
 (0.00014647702706967091, 'AirportTo_LNK'),
 (0.00014467666623220937, 'AirportFrom_MSO'),
 (0.00014409171347375772, 'AirportFrom_LAN'),
 (0.00014370706093045128, 'AirportFrom_MTJ'),
 (0.00014339620085615737, 'AirportTo_MSO'),
 (0.00014199679143101865, 'AirportTo_HDN'),
 (0.00014120191286785613, 'AirportFrom_MOT'),
 (0.00014041103265977116, 'AirportTo_DLH'),
 (0.00014032518792092923, 'AirportTo_MTJ'),
 (0.00013806886310072946, 'AirportTo_AGS'),
 (0.00013755191490324965, 'AirportFrom_CHA'),
 (0.00013709862885360295, 'AirportFrom_MYR'),
 (0.0001360802037565525, 'AirportTo_CPR'),
 (0.0001348803579558562, 'AirportTo_AVP'),
 (0.00013268862801494376, 'AirportFrom_FAY'),
 (0.00013231634666385783, 'AirportTo_BFL'),
 (0.00012942329733461668, 'AirportTo_BRO'),
 (0.00012899863034937232, 'AirportFrom_BFL'),
 (0.0001275845296319807, 'AirportTo_AZO'),
 (0.0001273778565911102, 'AirportFrom_AVP'),
 (0.00012653620111457528, 'AirportFrom_LNK'),
 (0.00012555942257209304, 'AirportFrom_SWF'),
 (0.0001238559327874381, 'AirportTo_FCA'),
 (0.0001236895053330349, 'AirportTo_GRK'),
 (0.00012178006621255455, 'AirportFrom_CSG'),
 (0.00012177123544967352, 'AirportFrom_GRK'),
 (0.00012161179478611611, 'AirportFrom_ACV'),
 (0.00012060864157157413, 'AirportFrom_IDA'),
 (0.00011990468408316642, 'AirportTo_MOT'),
 (0.00011970803441279865, 'AirportTo_DAB'),
 (0.00011796988170908444, 'AirportTo_RKS'),
 (0.0001175876616886457, 'AirportFrom_MLB'),
 (0.00011721703811298278, 'AirportFrom_AZO'),
 (0.00011685704728749501, 'AirportTo_DRO'),
 (0.00011593844932642115, 'AirportFrom_MLU'),
 (0.00011530106745068971, 'AirportFrom_DRO'),
 (0.00011431627718437783, 'AirportFrom_YUM'),
 (0.00011252511362090987, 'AirportFrom_SPI'),
 (0.0001119316843352803, 'AirportTo_HLN'),
 (0.00011029709295668536, 'AirportTo_MLU'),
 (0.00011027298072562678, 'AirportFrom_EYW'),
 (0.00010974246085250994, 'AirportFrom_SGU'),
 (0.00010930189164680961, 'AirportFrom_LRD'),
 (0.00010812405276294955, 'AirportTo_GNV'),
 (0.0001066980888952218, 'AirportTo_SWF'),
 (0.00010668525156921029, 'AirportFrom_GNV'),
 (0.00010647449110810259, 'AirportFrom_HDN'),
 (0.00010610097568536183, 'AirportTo_LRD'),
 (0.00010454700081978063, 'AirportTo_YUM'),
 (0.00010398861079521537, 'AirportTo_IDA'),
 (0.00010141007815631956, 'AirportTo_SUN'),
 (0.00010092032796134287, 'AirportFrom_RST'),
 (0.00010083144113623579, 'AirportFrom_CPR'),
 (9.944619975273266e-05, 'AirportFrom_DAB'),
 (9.923046944445527e-05, 'AirportFrom_FCA'),
 (9.891421645090684e-05, 'AirportTo_LSE'),
 (9.882143141604851e-05, 'AirportTo_MLB'),
 (9.87723191476501e-05, 'AirportTo_GFK'),
 (9.86288673780195e-05, 'AirportTo_EYW'),
 (9.795086153460978e-05, 'AirportTo_GTF'),
 (9.791326804343121e-05, 'AirportFrom_BRO'),
 (9.556347247774564e-05, 'AirportTo_SGU'),
 (9.542082892767359e-05, 'AirportFrom_GFK'),
 (9.536701191833494e-05, 'AirportFrom_RKS'),
 (9.49528778419071e-05, 'AirportFrom_GCC'),
 (9.461992582287984e-05, 'AirportFrom_FSM'),
 (9.38937595177396e-05, 'AirportTo_SPI'),
 (9.229934673309253e-05, 'AirportTo_ACV'),
 (9.207614922524517e-05, 'AirportFrom_CWA'),
 (9.178906247190677e-05, 'AirportFrom_ELM'),
 (9.100604736663762e-05, 'AirportFrom_OAJ'),
 (9.067438322998046e-05, 'AirportTo_GCC'),
 (9.01781228496831e-05, 'AirportTo_RST'),
 (8.947526589934503e-05, 'AirportFrom_FAI'),
 (8.756854444821458e-05, 'AirportFrom_GTF'),
 (8.72010172603065e-05, 'AirportFrom_SUN'),
 (8.701996353162852e-05, 'AirportTo_JNU'),
 (8.601710898831367e-05, 'AirportTo_CSG'),
 (8.53755875053826e-05, 'AirportTo_ITO'),
 (8.381946276926729e-05, 'AirportTo_GUC'),
 (8.259728519966836e-05, 'AirportTo_FAI'),
 (8.242826465737382e-05, 'AirportFrom_HLN'),
 (8.057406096226913e-05, 'AirportFrom_TWF'),
 (7.815120522867339e-05, 'AirportFrom_JNU'),
 (7.747916411468662e-05, 'AirportFrom_CLD'),
 (7.714927540474682e-05, 'AirportTo_COD'),
 (7.6808236400604e-05, 'AirportFrom_EKO'),
 (7.632110978214877e-05, 'AirportTo_CMI'),
 (7.469724750661906e-05, 'AirportFrom_GUC'),
 (7.453608224949295e-05, 'AirportFrom_ITO'),
 (7.422234795573127e-05, 'AirportTo_OAJ'),
 (7.361987653383857e-05, 'AirportFrom_CMI'),
 (7.210216423928318e-05, 'AirportTo_FSM'),
 (7.174556794822431e-05, 'AirportFrom_RDD'),
 (7.140797422605171e-05, 'AirportTo_PIH'),
 (7.13175091923151e-05, 'AirportTo_BQN'),
 (7.112011983876917e-05, 'AirportTo_TWF'),

In [81]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.66      0.61      0.60      0.63      0.61      0.37     74780
          1       0.55      0.60      0.61      0.58      0.61      0.37     60066

avg / total       0.61      0.61      0.61      0.61      0.61      0.37    134846