In [1]:
import pandas as pd

In [2]:
MSFT_df = pd.read_csv("MSFT_Stock.csv")

In [4]:
MSFT_df.dtypes

Unnamed: 0     object
open          float64
high          float64
low           float64
close         float64
volume          int64
dtype: object

In [9]:
MSFT_df.head(5000)

      Unnamed: 0       open       high        low      close     volume
0     2001-03-16   26.25000   27.56250   26.24219   27.28125  112848800
1     2001-03-19   27.25000   27.75000   26.56250   27.15625   61036400
2     2001-03-20   27.28125   28.06250   26.31250   26.34375   91822800
3     2001-03-21   26.12500   26.62500   24.87500   25.03125  124988600
4     2001-03-22   25.28125   27.03125   25.25000   27.00000  126363200
...          ...        ...        ...        ...        ...        ...
4995  2021-01-25  229.12000  229.78000  224.22000  229.53000   33152095
4996  2021-01-26  231.86000  234.17999  230.08000  232.33000   48699200
4997  2021-01-27  238.00000  240.44000  230.14000  232.89999   69757500
4998  2021-01-28  235.61000  242.64000  235.09000  238.92999   48990000
4999  2021-01-29  235.99001  238.01500  231.36000  231.96001   40004239

[5000 rows x 6 columns]